<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1><%= details.title %></h1>
    <p><%= details.description %></p>
    <ul>
        <% details.torrents.forEach(torrent => { %>
            <li>
                <a href="/stream/<%= torrent.magnet %>"><%= torrent.name %></a>
            </li>
        <% }); %>
    </ul>
</body>
</html>